form {
  text-align: center;
}
input {

  padding: 12px 20px;
  margin: 15px 15px;
  width:50%;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 4px;
}
input[type=submit]
{
    background-color:lightgreen;
    width:10%;

}
